<% content_for :page_title, "#{'Error: ' if @allegation_considerations_form.errors.any?}How this complaint has been considered" %>
<% content_for :back_link_url, edit_public_referral_path(current_referral) %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds-from-desktop">
    <%= form_with model: @allegation_considerations_form, url: public_referral_allegation_details_considerations_path(current_referral), method: :put do |f| %>
      <%= f.govuk_error_summary %>
      <span class="govuk-caption-l">The allegation</span>
      <h1 class="govuk-heading-l">How this complaint has been considered</h1>
      <p>Include details about:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>the local procedures you followed, for example if you made a complaint to the headteacher, local authority or police</li>
        <li>when you made the complaint</li>
        <li>the outcomes of the complaint</li>
      </ul>
      <div class="govuk-form-group">
        <%= f.govuk_text_area :allegation_consideration_details,
          label: { text: "Details about how this complaint has been considered", size: "m" },
          rows: 15 %>
      </div>
      <%= f.govuk_submit "Save and continue" %>
    <% end %>
  </div>
</div>
