<% content_for :page_title, "Manage teacher misconduct referrals" %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds-from-desktop">
    <h1 class="govuk-heading-l">Referrals (<%= @referrals_count %>)</h1>
    <div class="app-list">
      <% @referrals.each do |referral| %>
        <%= render ManageInterface::ReferralComponent.new(referral:) %>
      <% end %>
    </div>
  </div>
</div>

<%= govuk_pagination(pagy: @pagy) %>
