<h1 class="govuk-heading-l">There was a problem signing in</h1>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <% case @error %>
    <% when 'expired' %>
      <p>
        <%= t('users.retry.expired') %>
      </p>
    <% when 'exhausted' %>
      <p>
        <%= t('users.retry.exhausted') %>
      </p>
    <% end %>

    <%= govuk_button_link_to('Continue', new_user_session_path(new_referral:), method: :get) %>
  </div>
</div>
