<% content_for :page_title, 'Check details and send referral' %>
<% content_for :back_link_url, return_to_session_or(polymorphic_path([:edit, current_referral.routing_scope, current_referral])) %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <%= form_with model: @referral_form, url: [current_referral.routing_scope, current_referral, :review], method: :put do |f| %>
          <%= f.govuk_error_summary presenter: back_linked_error_presenter %>

          <h1 class="govuk-heading-l govuk-!-margin-bottom-9">Check details and send referral</h1>

          <%= render "referrals/shared/review" %>

          <h2 class="govuk-heading-m govuk-!-font-size-27">Declaration</h2>

          <%= render partial: 'shared/declaration' %>

          <button class="govuk-button" data-module="govuk-button">
            Agree and send referral
          </button>
        <% end %>
      </div>
    </div>
  </div>
</div>
