<% content_for :page_title, "#{'Error: ' if @have_complained_form.errors.any?}Have you already made a complaint to the school, school governors or your local council?" %>
<% content_for :back_link_url, url_for(:back) %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <%= form_with model: @have_complained_form, url: have_you_complained_url, method: :post do |f| %>
      <%= f.govuk_error_summary %>
      <%= f.govuk_collection_radio_buttons(
          :complained,
          [OpenStruct.new(label: 'Yes, I’ve already made a complaint', value: true), OpenStruct.new(label: 'No', value: false)],
          :value,
          :label,
          legend: { size: 'l', text: 'Have you already made a complaint to the school, school governors or your local council?' },
        ) %>
      <%= f.govuk_submit prevent_double_click: false %>
    <% end %>
  </div>
</div>
