<% content_for :page_title, "Wait for an outcome before making a referral" %>
<% content_for :back_link_url, complained_about_teacher_path %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds-from-desktop">
    <h1 class="govuk-heading-l">You should wait for an outcome before making a referral</h1>

    <p class="govuk_body">
      Check the school’s complaint policy for the processing time. It’s usually available on the school’s website or from the school office.
    </p>

    <p class="govuk_body">
      Contact the school if an outcome is overdue.
    </p>

    <h2 class="govuk-heading-m">Refer a teacher before you’ve received an outcome</h2>

    <p class="govuk_body">
      Your referral may not be investigated if you do not complete the school’s complaints procedure.
    </p>

    <p class="govuk_body">
      <%= govuk_link_to("Continue making a referral", what_allegation_involves_path) %>
    </p>
  </div>
</div>
