<% content_for :page_title, (@reporting_as_form.errors.any? ? 'Error: ' : '') + 'Are you making a referral as an employer or member of the public?' %>
<% content_for :back_link_url, start_path %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds-from-desktop">
    <%= form_with model: @reporting_as_form, url: referral_type_path, method: :post do |f| %>
      <%= f.govuk_error_summary %>
      <%= f.govuk_collection_radio_buttons(:reporting_as,
        [OpenStruct.new(label: "I’m referring as an employer", value: 'employer'), OpenStruct.new(label: "I’m referring as a member of the public", value: 'public')],
        :value,
        :label,
        legend: { tag: 'h1', size: 'xl', text: 'Are you making a referral as an employer or member of the public?' }
      ) %>
      <%= f.govuk_submit %>
    <% end %>
  </div>
</div>
