<% content_for :back_link_url, support_interface_staff_index_path %>
<% content_for :page_title, "Delete #{@staff_user.email}" %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <span class="govuk-caption-l"><%= @staff_user.email %></span>
    <h1 class="govuk-heading-l">Confirm that you want to delete this user</h1>

    <p class="govuk-body">
      <%= govuk_button_to "Delete user", support_interface_staff_path, method: :delete, class: "govuk-button govuk-button--warning" %>
      <%= govuk_link_to "Cancel", support_interface_staff_index_path %>
    </p>
</div>
