<% content_for :page_title, 'Referral sent' %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds-from-desktop">
    <%= govuk_panel(
      title_text: 'Referral sent',
      classes: %w[govuk-!-margin-bottom-6]
    ) %>
    <p class="govuk_body">
      You’ll be sent a confirmation email. This email will include a link to <%= link_to "view your referral", users_referral_path(current_referral) %></a>.
    </p>

    <h2 class="govuk-heading-m">What happens next</h2>
    <p class="govuk_body">
      Your referral will usually be reviewed within 3 working days. It may be longer if more information is needed.
    </p>

    <p class="govuk_body">
      It could be decided that:
    </p>
    <ul class="govuk-list govuk-list--bullet">
      <li>the case will not be investigated, for example because it’s unlikely the teacher will be stopped from teaching</li>
      <li>a formal investigation will be launched</li>
    </ul>
    <p class="govuk_body">You’ll be sent an email with the decision.</p>
  </div>
</div>
