<% content_for :page_title, "#{'Error: ' if @personal_details_age_form.errors.any?}What is their date of birth?" %>
<% content_for :back_link_url, url_for(:back) %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds-from-desktop ">
    <%= form_with model: @personal_details_age_form, url: referrals_update_personal_details_age_path(@referral), method: :put do |f| %>
      <%= f.govuk_error_summary %>
      <div class="govuk-form-group">
        <%= f.govuk_date_field :date_of_birth,
            legend: { text: "What is their date of birth?", size: "xl" },
            hint: { text: "For example, 27 3 1987" } %>
      </div>
      <%= f.govuk_submit "Save and continue" %>
    <% end %>
  </div>
</div>
