<p>By sending this referral, you agree that:</p>

<ul class="govuk-list govuk-list--bullet">
  <li>your allegation will be investigated, which could result in the person you’re referring being stopped from teaching</li>
  <li>your answers are true to the best of your knowledge and belief</li>
  <li>your referral, any evidence and supporting information will be shared with the person you’re referring and any employer</li>
  <li>you have permission from the relevant third parties for any evidence and supporting information to be shared, for example the police or DBS</li>
  <li>you may need to attend a hearing and give evidence if your allegation reaches that stage</li>
  <li>your referral will be kept on file for 50 years</li>
</ul>
