<p>By sending this report, you agree that:</p>

<ul class="govuk-list govuk-list--bullet">
  <li>your allegation will be investigated, which could result in the person you’re reporting being stopped from teaching</li>
  <li>your answers are true to the best of your knowledge and belief</li>
  <li>your report, any evidence and supporting information will be shared with the person you’re reporting and any employer</li>
  <li>you have permission from the relevant third parties for any evidence and supporting information to be shared, for example the police or <abbr title="Disclosure and Barring Service">DBS</abbr></li>
  <li>you may need to attend a hearing and give evidence if your allegation reaches that stage</li>
  <li>your report will be kept on file for 50 years</li>
  <li>you have provided all the information / documents you have available</li>
  <li>you have permission from the relevant third parties for any evidence and supporting information to be shared, for example the police, DBS or the Family Court</li>
</ul>
