<% content_for :page_title, "#{'Error: ' if @referrer_job_title_form.errors.any?}Your job title - Your details" %>
<% content_for :back_link_url, polymorphic_path([:edit, current_referral.routing_scope, current_referral, :referrer_details, :name]) %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <%= form_with model: @referrer_job_title_form, url: [current_referral.routing_scope, current_referral, :referrer_details_job_title], method: :patch do |f| %>
      <%= f.govuk_error_summary %>

      <span class="govuk-caption-l">Your details</span>
      <%= f.govuk_text_field :job_title, label: { tag: 'h1', size: 'l', text: "Your job title" }, hint: { text: 'For example, ‘Headteacher’' } %>
      <%= f.govuk_submit 'Save and continue' %>
    <% end %>
  </div>
</div>
