<% @referral_form.items.each do |section_group| %>
  <div class="app-review-panel">
    <h2 class="govuk-heading-m govuk-!-font-size-27"><%= section_group.label %></h2>

    <% section_group.items.each do |section| %>
      <%= tag.h3 id: section.error_id, class: "govuk-heading-m" do %>
        <%= section.label %>
      <% end %>
      <%= render section.view_component user: current_user %>
    <% end %>
  </div>
<% end %>
