<% content_for :page_title, 'You can also refer serious misconduct offline' %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">You can also refer serious misconduct offline</h1>

    <p class="govuk_body">
      You can <%= link_to_referral_form_for(@eligibility_check.reporting_as) %>.
    </p>

    <p class="govuk_body">You should use the guidance within the form to help you fill it out.</p>

    <h2 class="govuk-heading-m">What happens next</h2>

    <p class="govuk_body">
      Once you’ve completed the form, you should email it to:<br />
      <%= mail_to t('service.email') %>.
    </p>
    <p class="govuk_body">Or send it by registered post to:</p>
    <p class="govuk_body">
      Teaching Misconduct<br />
      Ground Floor, South<br />
      Cheylesmore House<br />
      5 Quinton Road<br />
      Coventry<br />
      CV1 2WT
    </p>

    <h3 class="govuk-heading-m">Get help with your referral</h3>
    <p class="govuk_body">If you need more information about making a referral, you can contact TRA.</p>

    <h4 class="govuk-heading-s">Telephone</h4>
    <p class="govuk_body">Call 020 7593 5393<br>Monday to Friday, 9am to 5pm (except Mondays and Fridays)</p>
    <p class="govuk_body"><a href="https://www.gov.uk/call-charges">Find out about call charges</a>.</p>

    <h4 class="govuk-heading-s">Email</h4>
    <p class="govuk_body"><%= mail_to t('service.email') %></p>
    <p class="govuk_body">We aim to respond within 3 working days.</p>
  </div>
</div>
