<% content_for :page_title, 'We have received your report of serious misconduct' %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds-from-desktop">
    <%= govuk_panel(
      title_text: 'We have received your report of serious misconduct',
      classes: %w[govuk-!-margin-bottom-6]
    ) %>
    <p class="govuk_body">
      We’ve sent you a confirmation by email. Your confirmation includes a link to view your report.
    </p>

    <h2 class="govuk-heading-m">What happens next</h2>
    <p class="govuk_body">
      Once the Teaching Regulation Agency (TRA) have reviewed the report, they’ll let you know what happens next.
    </p>

    <p class="govuk_body">TRA could tell you they:</p>
    <ul class="govuk-list govuk-list--bullet">
      <li>need more information to decide whether to investigate the case</li>
      <li>will not investigate the case because it’s outside their remit</li>
      <li>will not investigate the case because it does not have the potential to result in a prohibition order</li>
      <li>will launch a formal investigation</li>
    </ul>
    <p class="govuk_body">The time it takes for TRA to get back to you will depend on the case.</p>
    <p class="govuk_body">
      For more information about what happens next, see our <%= link_to "step-by-step guide", "#" %>.
    </p>

    <h2 class="govuk-heading-m">Contacting TRA about this report</h2>
    <p class="govuk_body">
      Call <%= t('service.phone') %> or email:<br>
      <%= mail_to t('service.email') %>
    </p>
    <p class="govuk_body">Monday to Friday, 9am to 5pm (except public holidays)</p>
  </div>
</div>
