<% content_for :page_title, 'Consider making a complaint first' %>
<% content_for :back_link_url, have_you_complained_path %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-l">Your allegation is unlikely to be investigated because you have not made a complaint</h1>
    <p class="govuk-body">To make a complaint, contact the school.</p>
    <p class="govuk-body">If you’re not satisfied that your complaint to the school has been resolved, contact the board of governors or <%= link_to "contact the council", "https://www.gov.uk/find-local-council
    " %>.</p>

    <p class="govuk-body">You can <%= link_to "continue to refer serious misconduct without making a complaint", is_a_teacher_path %>.</p>
  </div>
</div>
