<% content_for :page_title, 'Consider making a complaint first' %>
<% content_for :back_link_url, have_you_complained_path %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-l">Consider making a complaint first</h1>
    <p class="govuk-body">Before referring a teacher, first consider making a complaint to:</p>
    <ul class="govuk-list govuk-list--bullet">
      <li>
        the school
      </li>
      <li>
        the school governors
      </li>
      <li>
        your local council
      </li>
    </ul>
    <p class="govuk-body">
      View guidance about <%= link_to "how to make an informal complaint", "https://www.gov.uk/report-teacher-misconduct" %></a>.
    </p>

    <p class="govuk-body">You can still refer a teacher without making an informal complaint. Your allegation may not be investigated unless you have made a complaint first.</p>

    <%= govuk_button_link_to "Continue without an informal complaint", is_a_teacher_path %>
  </div>
</div>
