<% content_for :page_title, 'You cannot refer a teacher who was not employed in England' %>
<% content_for :back_link_url, url_for(:back) %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-l">You cannot refer a teacher who was not employed in England</h1>
    <p class="govuk_body">You can refer misconduct in Wales, Scotland or Northern&nbsp;Ireland by contacting:</p>

    <ul class="govuk-list govuk-list--bullet">
      <li>the <a rel="external" href="https://www.ewc.wales/">Education Workforce Council for Wales</a></li>
      <li>the <a rel="external" href="https://www.gtcs.org.uk/fitness-to-teach/making-a-referral-or-recommendation/">General Teaching Council for Scotland</a></li>
      <li>the <a rel="external" href="https://gtcni.org.uk/regulation/making-a-referral">General Teaching Council for Northern Ireland</a></li>
    </ul>
  </div>
</div>
