<% content_for :page_title, "Your allegation is unlikely to be investigated because it is not serious misconduct" %>
<% content_for :back_link_url, serious_misconduct_path %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-l">Your allegation is unlikely to be investigated because it is not serious misconduct</h1>

    <p class="govuk_body">
      If you’re not satisfied that your complaint to the school has been resolved, contact the board of governors or <%= link_to "contact the council", "https://www.gov.uk/find-local-council" %>.</p>
    </p>
  </div>
</div>
