<% content_for :page_title, "Your allegation is unlikely to be investigated" %>
<% content_for :back_link_url, serious_misconduct_path %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-l">Your allegation is unlikely to be investigated</h1>

    <p class="govuk_body">
      This is because your allegation does not involve serious misconduct.
    </p>
  </div>
</div>
