<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">
      <%= t('service.name') %>
    </h1>
  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <div class="govuk-warning-text">
      <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
      <strong class="govuk-warning-text__text">
        <span class="govuk-warning-text__assistive"></span>
        <a href="#">Contact the police</a> if you think a child is in immediate danger.
      </strong>
    </div>

    <p class="govuk-body">
      The Teaching Regulation Agency (TRA) will only investigate cases where the misconduct is serious enough to potentially result in a prohibition order, meaning the person can no longer teach.
    </p>

    <p class="govuk-body">You’ll need proof to support your allegation.</p>
    <p class="govuk-body">
      Cases of less serious misconduct, and all cases of incompetence, should be dealt with by employers.
    </p>

    <h2 class="govuk-heading-m">What happens when you make a referral</h2>
    <p class="govuk_body">
      See the <%= link_to "step-by-step guide", "#" %> to find out what happens once you make a referral.
    </p>

    <h2 class="govuk-heading-m">How long it will take to prepare your referral</h2>
    <p class="govuk_body">
      You should allow an hour or more to complete your referral. The time it will take depends on the case. It will be faster if you’ve prepared the evidence.
    </p>

    <%= govuk_start_button(text: 'Start now', href: who_path, classes: 'govuk-!-margin-top-2 govuk-!-margin-bottom-9') %>

    <h2 class="govuk-heading-m">When to use a different form</h2>
    <p class="govuk_body">
      If you want to refer multiple teachers at once, you need to <%= link_to "complete a different form", "#" %>
    </p>
  </div>

  <div class="govuk-grid-column-one-third">
    <div class="app-govuk-related-navigation">
      <nav class="app-govuk-related-navigation__nav-section" role="navigation" aria-labelledby="related-nav-related-content">
        <h2 class="govuk-heading-s app-govuk-related-navigation__main-heading" id="related-nav-related_items-related-content">
          Related content
        </h2>
        <ul class="app-govuk-related-navigation__link-list">
          <li class="app-govuk-related-navigation__link">
            <a class="govuk-link app-govuk-related-navigation__section-link app-govuk-related-navigation__section-link--other" href="https://www.gov.uk/government/publications/teacher-misconduct-information-for-teachers">Teacher misconduct: information for teachers</a>
          </li>
          <li class="app-govuk-related-navigation__link">
            <a class="govuk-link app-govuk-related-navigation__section-link app-govuk-related-navigation__section-link--other" href="https://www.gov.uk/guidance/teacher-misconduct-referring-a-case">Teacher misconduct: referring a case</a>
          </li>
          <li class="app-govuk-related-navigation__link">
            <a class="govuk-link app-govuk-related-navigation__section-link app-govuk-related-navigation__section-link--other" href="https://www.gov.uk/government/publications/teacher-misconduct-disciplinary-procedures">Teacher misconduct: disciplinary procedures</a>
          </li>
          <li class="app-govuk-related-navigation__link">
            <a class="govuk-link app-govuk-related-navigation__section-link app-govuk-related-navigation__section-link--other" href="https://www.gov.uk/guidance/teacher-misconduct-regulating-the-teaching-profession">Teacher misconduct: regulating the teaching profession</a>
          </li>
          <li class="app-govuk-related-navigation__link">
            <a class="govuk-link app-govuk-related-navigation__section-link app-govuk-related-navigation__section-link--other" href="https://www.gov.uk/government/publications/teacher-misconduct-information-for-observers">Teacher misconduct hearings: information for observers</a>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</div>
