<% content_for :page_title, "What completing this referral means for you" %>
<% content_for :back_link_url, serious_path %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds-from-desktop">
    <h1 class="govuk-heading-xl">What completing this referral means for you</h1>
    <p class="govuk_body">
      If TRA decide to investigate this allegation, it could result in the person you’re referring being banned from teaching.
    </p>

    <p class="govuk_body">
      You might need to attend a hearing of a professional conduct panel to give evidence, if the allegation reaches that stage.
    </p>

    <p class="govuk_body">
      Your name and the allegation will be shared with the person you’re referring, and any employer. Your contact details will not be shared.
    </p>

    <p class="govuk_body">Once a referral is submitted, it’s kept for 50 years.</p>

    <%= govuk_button_link_to 'Continue', @continue_path, classes: 'govuk-!-margin-top-2 govuk-!-margin-bottom-9' %>
  </div>
</div>
