<% content_for :page_title, "What will happen after you refer the teacher for serious misconduct" %>
<% content_for :back_link_url, @previous_path %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds-from-desktop">
    <h1 class="govuk-heading-l">
      What will happen after you refer the teacher for serious misconduct
    </h1>

    <p class="govuk_body">
      Your name and allegation will be shared with the teacher and their
      employer. Your contact details will not be shared.
    </p>

    <p class="govuk_body">
      You might need to give evidence at a hearing.
    </p>

    <p class="govuk_body">
      Your referral will be kept on file for up to 50 years.
    </p>

    <%= govuk_button_link_to "I understand and want to continue", @continue_path, classes: 'govuk-!-margin-top-2 govuk-!-margin-bottom-9' %>
  </div>
</div>
