<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">Your draft has been deleted</h1>
    <p>You are now signed out.</p>
    <p>
      <%= govuk_link_to "Return to service", start_path %>
    </p>
  </div>
</div>
