<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds-from-desktop">
    <%= form_with model: @referral_form, url: referral_path, method: :put do |f| %>
      <h1 class="govuk-heading-xl"><%= t("referral_form.heading") %></h1>
      <%= render TaskListComponent.new(sections: @referral_form.sections) %>
      <button class="govuk-button" data-module="govuk-button">
        Review and send
      </button>
    <% end %>
    <details class="govuk-details" data-module="govuk-details">
      <summary class="govuk-details__summary">
        <span class="govuk-details__summary-text">
          I don’t want to continue
        </span>
      </summary>
      <div class="govuk-details__text">
        <p>
          You can delete your draft:<br>
          <%= govuk_link_to "Delete your draft referral", delete_referral_path(params[:id]), class: "govuk-button" %>
        </p>
        <p>
          Drafts are automatically deleted after 6 months of no activity. We’ll send you an email before deleting it.
        </p>
      </div>
    </details>
  </div>
</div>
