<% content_for :page_title, "Your progress is saved as you go" %>
<% content_for :back_link_url, url_for(:back) %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds-from-desktop ">
      <h1 class="govuk-heading-l">Your progress is saved as you go</h1>
      <p>You don’t have to complete your referral in a single session. Your answers will automatically be saved and you can return at any time by logging back in.</p>
      <p class="govuk-!-margin-bottom-6">We’ll send you an email with a link to access your referral.</p>
      <%= govuk_button_to('Continue', referrals_path, method: :post) %>
  </div>
</div>
