<% content_for :page_title, "#{'Error: ' if @referrer_phone_form.errors.any?}What is your telephone number?" %>
<% content_for :back_link_url, url_for(:back) %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <%= form_with model: @referrer_phone_form, url: referral_referrer_phone_path(current_referral), method: :patch do |f| %>
      <%= f.govuk_error_summary %>
      <%= f.govuk_text_field :phone, label: { size: 'xl', text: "What is your telephone number?" }, hint: { text: 'We will only use this number to contact you about your referral' } %>
      <%= f.govuk_submit 'Save and continue', prevent_double_click: false %>
    <% end %>
  </div>
</div>
