<% content_for :page_title, "Give feedback about referring serious misconduct by a teacher" %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-l">
      Give feedback about referring serious misconduct by a teacher
    </h1>

    <%= form_with model: @feedback do |f| %>
      <%= f.govuk_error_summary %>
      <%= f.govuk_collection_radio_buttons(
          :satisfaction_rating,
          satisfaction_rating_options(Feedback::SATISFACTION_RATINGS),
          :value,
          :label,
          legend: { text: "How satisfied are you with the service?", size: "m" },
        ) %>

      <%= f.govuk_submit "Send feedback" %>
    <% end %>
  </div>
</div>
