<% content_for :page_title, "#{'Error: ' if @organisation_name_form.errors.any?}What’s the name of your organisation?" %>
<% content_for :back_link_url, return_to_session_or(edit_referral_path(current_referral)) %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <%= form_with model: @organisation_name_form, url: referral_organisation_name_url(current_referral), method: :patch do |f| %>
      <%= f.govuk_error_summary %>

      <%= f.govuk_text_field :name, label: { size: 'xl', text: "What’s the name of your organisation?" } %>

      <%= f.govuk_submit 'Save and continue' %>
    <% end %>
  </div>
</div>
