<% content_for :page_title, "Are you sure you want to delete #{evidence.filename}" %>
<% content_for :back_link_url, return_to_session_or(polymorphic_path([:edit, current_referral.routing_scope, current_referral, :evidence_uploaded])) %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-l">
      <span class="govuk-caption-l">Evidence and supporting information</span>
      Confirm that you want to delete <%= evidence.filename %>?
    </h1>

    <%= govuk_button_to(
      "Yes I’m sure – delete it",
      polymorphic_path([current_referral.routing_scope, current_referral, :evidence_destroy]),
      method: :delete,
      class: "govuk-button--warning"
    ) %>
    <p>
      <%= govuk_link_to "Cancel", polymorphic_path([:edit, current_referral.routing_scope, current_referral,  :evidence_check_answers]) %>
    </p>
  </div>
</div>
