<% content_for :page_title, "#{'Error: ' if @evidence_check_answers_form.errors.any?}Check and confirm your answers - Evidence and supporting information" %>
<% content_for :back_link_url, return_to_session_or(polymorphic_path([:edit, current_referral.routing_scope, current_referral])) %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds-from-desktop">
    <%= form_with model: @evidence_check_answers_form, url: [current_referral.routing_scope, current_referral, :evidence, :check_answers], method: :put do |f| %>
      <%= f.govuk_error_summary %>

      <h1 class="govuk-heading-l">
        <span class="govuk-caption-l">Evidence and supporting information</span>
        Check and confirm your answers
      </h1>

      <%= govuk_button_link_to(
        "Add more evidence",
        [:edit, current_referral.routing_scope, current_referral, :evidence_upload],
        class: "govuk-button--secondary govuk-!-margin-bottom-8",
      ) if current_referral.has_evidence %>

      <%= render partial: 'referrals/shared/check_answers', locals: { f:, complete_field_name: :evidence_details_complete } %>
    <% end %>
  </div>
</div>
