<% @referral_form.items.each do |section_group| %>
  <div class="app-review-panel">
    <h2 class="govuk-heading-m govuk-!-font-size-27"><%= section_group.label %></h2>

    <% section_group.items.each do |section| %>
      <h3 class="govuk-heading-m"><%= section.label %></h3>
      <%= render section.view_component user: current_user %>
    <% end %>
  </div>
<% end %>
