<% content_for :page_title, 'Eligibility Checks' %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds-from-desktop">
    <h1 class="govuk-heading-l">
      Eligibility checks (<%= EligibilityCheck.count %>)
    </h1>
    <p>
      <%= govuk_link_to("Download CSV", support_interface_eligibility_checks_path(format: :csv)) %>
    </p>
    <div class="app-list">
      <% @eligibility_checks.each do |eligibility_check| %>
        <%= render SupportInterface::EligibilityCheckComponent.new(eligibility_check:) %>
      <% end %>
    </div>
  </div>
</div>

<%= govuk_pagination(pagy: @pagy) %>
