.app-govuk-summary-card {
  &__title {
    @include govuk-font($size: 19);
    margin: 0;
  }

  &__meta {
    @include govuk-font($size: 16);
    display: block;
    margin: 0;
  }

  &__actions {
    @include govuk-font($size: 19);
  }

  &__actions-list {
    width: 100%;
    margin: 0;
    padding: 0;
  }

  &__actions-list-item {
    display: block;
    white-space: nowrap;

    @include govuk-media-query($from: desktop) {
      display: inline-block;
      margin-left: govuk-spacing(2);
      text-align: right;
    }
  }

  &__actions-list-item:first-child {
    margin-left: 0;
  }

  // Card body
  &__body {
    @include govuk-font($size: 19);
  }

  .govuk-summary-list {
    margin-bottom: 0;
  }

  &.app-inset-text--incomplete-section {
    border-left: 5px solid #1d70b8;
    padding: 15px 0 15px 15px;

    .app-instruction-text {
      color: #1d70b8;
      font-weight: bold;
    }

    .govuk-summary-list {
      margin-bottom: 15px;
    }
  }

  &.app-inset-text--incomplete-section-error {
    border-left: 5px solid #d4351c;

    .app-instruction-text {
      color: #d4351c;
      font-weight: bold;
    }
  }
}

.app-govuk-summary-card--large-title .app-govuk-summary-card__title {
  @include govuk-font($size: 24, $weight: bold);
}

@media print {
  .app-govuk-summary-card__header {
    break-inside: avoid;
  }

  .app-govuk-summary-card__actions {
    display: none;
  }
}
