$govuk-global-styles: true;
$govuk-new-link-styles: true;
$govuk-assets-path: "/";

@import "govuk-frontend/govuk/all";
@import "_task-list";
@import "_performance-table";
@import "card";
@import "_app-govuk-summary-card";

.app-govuk-related-navigation {
  @include govuk-text-colour;
  border-top: 2px solid $govuk-brand-colour;

  &__nav-section {
    margin-bottom: govuk-spacing(6);
  }

  &__main-heading {
    margin-bottom: govuk-spacing(2);
    margin-top: govuk-spacing(3);
  }

  &__link-list {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  &__link {
    @include govuk-font($size: 16, $weight: regular, $line-height: 1.45);
    margin-top: govuk-spacing(3);

    @include govuk-media-query($from: tablet) {
      line-height: 1.28;
    }
  }
}

.app-panel {
  padding-bottom: govuk-spacing(6);
  padding-top: govuk-spacing(5);
}

.app-uploaded-file {
  background: #f3f2f1;
  padding: 10px 15px;
  margin-bottom: 30px;
}
