<% content_for :page_title, "You uploaded #{current_referral.evidences.size} files" %>
<% content_for :back_link_url, url_for(:back) %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds-from-desktop ">
    <h1 class="govuk-heading-xl">
      You uploaded <%= current_referral.evidences.size %> files
    </h1>

    <p>Your files:</p>

    <ul class="govuk-list govuk-!-margin-bottom-6">
      <% current_referral.evidences.each do |evidence| %>
        <li><a href="#"><%= evidence.filename %></a></li>
      <% end %>
    </ul>
    <%= govuk_link_to "Save and continue", referrals_edit_evidence_categories_path(current_referral, current_referral.evidences.first), class: "govuk-button" %>
  </div>
</div>
