<% content_for :page_title, "You uploaded #{current_referral.evidences.size} files" %>
<% content_for :back_link_url, url_for(:back) %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds-from-desktop ">
    <h1 class="govuk-heading-xl">
      You uploaded <%= pluralize(current_referral.evidences.size, "file") %>
    </h1>

    <p>Your <%= "file".pluralize(current_referral.evidences.size) %>:</p>

    <ul class="govuk-list govuk-!-margin-bottom-6">
      <% current_referral.evidences.each do |evidence| %>
        <li>
          <%= govuk_link_to(evidence.filename, rails_blob_path(evidence.document, disposition: "attachment")) %>
        </li>
      <% end %>
    </ul>
    <%= govuk_link_to "Save and continue", referrals_edit_evidence_categories_path(current_referral, current_referral.evidences.first), class: "govuk-button" %>
  </div>
</div>
