<% content_for :page_title, "#{'Error: ' if @previous_misconduct_summary_form.errors.any?}Give a summary of previous allegations" %>
<% content_for :back_link_url, url_for(:back) %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">Give a summary of previous allegations</h1>
    <p class="govuk-body">A good summary will help TRA to respond quickly.</p>

    <%= form_with model: @previous_misconduct_summary_form, url: referral_previous_misconduct_summary_url(current_referral), method: :patch do |f| %>
      <%= f.govuk_error_summary %>
      <%= f.govuk_text_area :summary, label: { size: 'm', text: "Summary of previous allegations" } %>
      <%= f.govuk_submit 'Save and continue', prevent_double_click: false %>
    <% end %>
  </div>
</div>
