<% content_for :page_title, "#{'Error: ' if @job_title_form.errors.any?}What’s their job title?" %>
<% content_for :back_link_url, url_for(:back) %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds-from-desktop ">
    <%= form_with model: @job_title_form, url: referrals_update_teacher_job_title_path(current_referral), method: :put do |f| %>
      <%= f.govuk_error_summary %>
      <%= f.govuk_text_field :job_title,
        label: { text: "What’s their job title?", size: "xl" },
        hint: { text: "For example, ‘Teacher’" }
      %>
      <%= f.govuk_submit "Save and continue" %>
    <% end %>
  </div>
</div>
