<% content_for :page_title, "#{'Error: ' if @job_title_form.errors.any?}Their job title" %>
<% content_for :back_link_url, return_to_session_or(back_link) %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds-from-desktop">
    <%= form_with model: @job_title_form, url: update_path, method: :put do |f| %>
      <%= f.govuk_error_summary %>

      <span class="govuk-caption-l">About their role</span>
      <%= f.govuk_text_field :job_title,
        label: { text: "Their job title", tag: 'h1', size: "l" },
        hint: { text: "For example, ‘Teacher’" }
      %>
      <%= f.govuk_submit "Save and continue" %>
    <% end %>
  </div>
</div>
